.container {
  width: 100%;
  min-width: 1024px;
  max-width: 1536px;
  padding: 0;
  margin: 0 300px;

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
